###############################################################################
#
# Configuration file for the single top analysis.
#
# Modifications:
###############################################################################
#
#
# Set the debug level: the higher, the more printout
DebugLevel: 10
#
# Mass set to MC value for this study.
# If we are optimizing for some top mass, set that mass here:
TopMass: 172.5
#
#
# Read in a file listing cuts we want to make (electron channel):
#Include.CutsFile: macros/wt-channel/LP/config/cuts/SingleTopCuts.Wt.DiElectron.onePlusJets.cuts
Include.CutsFile: macros/wt-channel/LP/config/cuts/SingleTopCuts.Wt.ElectronMuon.onePlusJets.cuts
#
#
# Read in a file listing the event weight:
Include.WeightsFile: config/weights/MCInformation.weights
#
#
# Read in a file listing the object ID definitions:
Include.ObjectIDFile: macros/wt-channel/LP/config/objects/SingleTopObjects.Wt.LP.noshift.config
#
# Output file with topological variables
Topology.SkimFile: topovars.root
#
#
# Events files 
Include.MCTotEventNumberFile: config/weights/MCInformation.weights
#
#
# pile up vtx reweighting 
#Include.pileUpReWeightingFile: config/weights/SingleTopWeights.PileUpReWeight.156.weights
#
#
#muonID SFs
Include.MuonIDSFsFile: config/weights/MuonID_Z_RunBCD_prompt80X_7p65.root
LeptonID.MuonIDSFHistName: MC_NUM_TightIDandIPCut_DEN_genTracks_PAR
#
#
#muonISO SFs
Include.MuonISOSFsFile: config/weights/MuonIso_Z_RunBCD_prompt80X_7p65.root
LeptonID.MuonIsoSFHistName: MC_NUM_TightRelIso_DEN_TightID_PAR
#
#
#b tag reshaping csv file and tagger name
Include.BTagCSVFile: config/weights/CSVv2_ichep.csv
BTaggerAlgo: CSVv2
#
#
#pileup reweighting files
Include.dataPVFile: config/weights/dataPV.root
Include.mcPVFile: config/weights/mcPV.root
