###############################################################################
#
# Configuration file for the single top analysis.
#
# Modifications:
###############################################################################
#
#
# Set the debug level: the higher, the more printout
DebugLevel: 10
#
# Mass set to MC value for this study.
# If we are optimizing for some top mass, set that mass here:
TopMass: 172.5
#
#
# Read in a file listing cuts we want to make (electron channel):
#Include.CutsFile: macros/wt-channel/LP/config/cuts/SingleTopCuts.Wt.DiElectron.onePlusJets.cuts
Include.CutsFile: macros/wt-channel/LP/config/cuts/SingleTopCuts.Wt.ElectronMuon.onePlusJets.cuts
#
#
# Read in a file listing the event weight:
Include.WeightsFile: config/weights/MCInformation.weights
#
#
# Read in a file listing the object ID definitions:
Include.ObjectIDFile: macros/wt-channel/LP/config/objects/SingleTopObjects.Wt.LP.noshift.config
#
# Output file with topological variables
Topology.SkimFile: topovars.root
#
#
# Events files 
Include.MCTotEventNumberFile: config/weights/MCInformation.weights
#
#
# pile up vtx reweighting 
#Include.pileUpReWeightingFile: config/weights/SingleTopWeights.PileUpReWeight.156.weights
#
#
#muonID SFs
Include.MuonIDSFsFile: config/weights/muon/MuonID_all.root
LeptonID.MuonIDSFHistName: MC_NUM_TightID_DEN_genTracks_PAR_pt_eta
#
#
#muonISO SFs
Include.MuonISOSFsFile: config/weights/muon/MuonISO_all.root
LeptonID.MuonIsoSFHistName: TightISO_TightID_pt_eta
#
#
#muonTk SFs
Include.MuonTKSFsFile: config/weights/muon/MuonTK_BtoH.root
#
#
#muonTrig SFs
Include.MuonTrigSFsFile: config/weights/muon/MuonTrig_all.root
LeptonID.MuonTrigSHHistName: IsoMu24_OR_IsoTkMu24_PtEtaBins
#
#
#electron ID SFs
Include.EleIDFileName: config/weights/electron/egammaEffi.txt_EGM2D_id.root
LeptonID.EleIDHistName: EGamma_SF2D
#
#
#electron reco SFs
Include.EleRecoFileName: config/weights/electron/egammaEffi.txt_EGM2D_reco.root
LeptonID.EleRecoHistName: EGamma_SF2D
#
#
#b tag reshaping csv file and tagger name
Include.BTagCSVFile: config/weights/CSVv2_ichep.csv
BTaggerAlgo: CSVv2
#
#
#pileup reweighting files
Include.dataPVFile: config/weights/dataPV.root
Include.mcPVFile: config/weights/mcPV80X.root
Include.minBiasUp: config/weights/minBiasUpPileupHistogram.root
Include.minBiasDown: config/weights/minBiasDownPileupHistogram.root
#
#
#bTag efficiencies
Include.bTagEfficFile: config/weights/bTagEfficiencies.root
#
#
#lepton pt reweigting
#Include.leptonReweightFile: config/weights/muonPtReweight.root
